pythemis
psycopg2==2.8.6
psycopg==3.0.13
asyncpg==0.23.0
SQLAlchemy==1.4.15
PyMySQL==1.0.2
ddt==1.4.2
semver==2.13.0
requests==2.25.1
# driver with binary prepared statements support
#mysql-connector-python==8.0.11
pyyaml==5.4.1
hvac==0.10.11
# https://grpc.io/docs/quickstart/python.html
grpcio==1.42.0
grpcio-tools==1.42.0
googleapis-common-protos==1.53.0
prometheus_client==0.10.1
unittest-xml-reporting==3.0.4
cryptography==3.4.7
redis==4.0.1
hiredis==2.0.0
