version: 2
jobs:
  general_validation:
    docker:
      - image: cossacklabs/android-build
    environment:
      FILEPATH_ERROR_FLAG: /tmp/test_fail
      VERSIONS: 1.10.8 1.11.5 1.12
      TEST_DB_PORT: 5432
      GOPATH_FOLDER: gopath
      TEST_RANDOM_DATA_FOLDER: /tmp/test_data
      TEST_TLS: "on"
    steps:
      # prepare
      - checkout
      - run: .circleci/prepare.sh
      # validation
      - run: .circleci/check_gofmt.sh
      - run: .circleci/check_configs.sh | tee /home/user/tests_output
      - run: GOPATH=$HOME/$GOPATH_FOLDER .circleci/check_golint.sh
      - run: .circleci/check_gotest.sh
      # check python wrapper
      - run: PYTHONPATH=`pwd`/wrappers/python python3 wrappers/python/acrawriter/tests.py
      - store_artifacts:
          path: /home/user/tests_output

  postgresql-ssl:
    docker:
      - image: cossacklabs/android-build
      - image: cossacklabs/postgresql-ssl:11
        environment:
          POSTGRES_PASSWORD: test
          POSTGRES_USER: test
          POSTGRES_DB: test
    environment:
      FILEPATH_ERROR_FLAG: /tmp/test_fail
      VERSIONS: 1.10.8 1.11.5 1.12
      TEST_DB_PORT: 5432
      GOPATH_FOLDER: gopath
      TEST_RANDOM_DATA_FOLDER: /tmp/test_data
      TEST_TLS: "on"
    steps:
    # prepare
      - checkout
      - run: .circleci/prepare.sh
      - run: sudo apt-get install -y postgresql-client
      - run: pg_isready -U${POSTGRES_USER} -d${POSTGRES_DB} -h127.0.0.1
      # testing
      # generate test data for integration tests
      - run: python3 tests/generate_random_data.py
      # each iteration pass to test different ports for forks to avoid problems with TCP TIME WAIT between tests
      - run: .circleci/integration.sh
      - run: if [ -f  $FILEPATH_ERROR_FLAG ]; then cat "$FILEPATH_ERROR_FLAG"; rm "$FILEPATH_ERROR_FLAG"; exit 1; fi
      - store_test_results:
          path: /home/user/tests_output
      - store_artifacts:
          path: /home/user/tests_output

  postgresql:
    docker:
      - image: cossacklabs/android-build
      - image: postgres:11-alpine
        environment:
          POSTGRES_PASSWORD: test
          POSTGRES_USER: test
          POSTGRES_DB: test
    environment:
      FILEPATH_ERROR_FLAG: /tmp/test_fail
      VERSIONS: 1.10.8 1.11.5 1.12
      TEST_DB_PORT: 5432
      GOPATH_FOLDER: gopath
      TEST_RANDOM_DATA_FOLDER: /tmp/test_data
      TEST_TLS: "off"
    steps:
      # prepare
      - checkout
      - run: .circleci/prepare.sh
      - run: sudo apt-get install -y postgresql-client
      - run: pg_isready -U${POSTGRES_USER} -d${POSTGRES_DB} -h127.0.0.1
      # generate test data for integration tests
      - run: python3 tests/generate_random_data.py
      # each iteration pass to test different ports for forks to avoid problems with TCP TIME WAIT between tests
      - run: .circleci/integration.sh
      - run: if [ -f  $FILEPATH_ERROR_FLAG ]; then cat "$FILEPATH_ERROR_FLAG"; rm "$FILEPATH_ERROR_FLAG"; exit 1; fi
      - store_test_results:
          path: /home/user/tests_output
      - store_artifacts:
          path: /home/user/tests_output

  mariadb-ssl:
    docker:
    - image: cossacklabs/android-build
    # use the same credentials for mysql db as for postgresql (which support was added first)
    # has latest tag on 2018.03.29
    - image: cossacklabs/mariadb-ssl:10.3
      environment:
        MYSQL_DATABASE: test
        MYSQL_USER: test
        MYSQL_PASSWORD: test
        MYSQL_ROOT_PASSWORD: root
    environment:
      FILEPATH_ERROR_FLAG: /tmp/test_fail
      VERSIONS: 1.10.8 1.11.5 1.12
      TEST_MYSQL: true
      TEST_DB_PORT: 3306
      GOPATH_FOLDER: gopath
      TEST_RANDOM_DATA_FOLDER: /tmp/test_data
      TEST_TLS: "on"
    steps:
    # prepare
    - checkout
    - run: .circleci/prepare.sh
    - run: sudo apt-get install -y mysql-client
    - run: mysqladmin ping -h127.0.0.1
    # testing
    # generate test data for integration tests
    - run: python3 tests/generate_random_data.py
    # each iteration pass to test different ports for forks to avoid problems with TCP TIME WAIT between tests
    - run: .circleci/integration.sh
    - run: if [ -f  $FILEPATH_ERROR_FLAG ]; then cat "$FILEPATH_ERROR_FLAG"; rm "$FILEPATH_ERROR_FLAG"; exit 1; fi
    - store_test_results:
        path: /home/user/tests_output
    - store_artifacts:
        path: /home/user/tests_output

  mariadb:
    docker:
      - image: cossacklabs/android-build
      # use the same credentials for mysql db as for postgresql (which support was added first)
      # has latest tag on 2018.03.29
      - image: mariadb:latest
        environment:
          MYSQL_DATABASE: test
          MYSQL_USER: test
          MYSQL_PASSWORD: test
          MYSQL_ROOT_PASSWORD: root
    environment:
      FILEPATH_ERROR_FLAG: /tmp/test_fail
      VERSIONS: 1.10.8 1.11.5 1.12
      TEST_MYSQL: true
      TEST_DB_PORT: 3306
      GOPATH_FOLDER: gopath
      TEST_RANDOM_DATA_FOLDER: /tmp/test_data
      TEST_TLS: "off"
    steps:
      # prepare
      - checkout
      - run: .circleci/prepare.sh
      - run: sudo apt-get install -y mysql-client
      - run: mysqladmin ping -h127.0.0.1
      # testing
      # generate test data for integration tests
      - run: python3 tests/generate_random_data.py
      # each iteration pass to test different ports for forks to avoid problems with TCP TIME WAIT between tests
      - run: .circleci/integration.sh
      - run: if [ -f  $FILEPATH_ERROR_FLAG ]; then cat "$FILEPATH_ERROR_FLAG"; rm "$FILEPATH_ERROR_FLAG"; exit 1; fi
      - store_test_results:
          path: /home/user/tests_output
      - store_artifacts:
          path: /home/user/tests_output

  mysql:
    docker:
    - image: cossacklabs/android-build
    # use the same credentials for mysql db as for postgresql (which support was added first)
    # has latest tag on 2018.03.29
    - image: cossacklabs/mysql-ssl:5.7.25
      environment:
        MYSQL_DATABASE: test
        MYSQL_USER: test
        MYSQL_PASSWORD: test
        MYSQL_ROOT_PASSWORD: root
    environment:
      FILEPATH_ERROR_FLAG: /tmp/test_fail
      VERSIONS: 1.10.8 1.11.5 1.12
      TEST_MYSQL: true
      TEST_DB_PORT: 3306
      GOPATH_FOLDER: gopath
      TEST_RANDOM_DATA_FOLDER: /tmp/test_data
      TEST_TLS: "on"
    steps:
    # prepare
    - checkout
    - run: .circleci/prepare.sh
    - run: sudo apt-get install -y mysql-client
    - run: mysqladmin ping -h127.0.0.1
    # testing
    # generate test data for integration tests
    - run: python3 tests/generate_random_data.py
    # each iteration pass to test different ports for forks to avoid problems with TCP TIME WAIT between tests
    - run: .circleci/integration.sh
    - run: if [ -f  $FILEPATH_ERROR_FLAG ]; then cat "$FILEPATH_ERROR_FLAG"; rm "$FILEPATH_ERROR_FLAG"; exit 1; fi
    - store_test_results:
        path: /home/user/tests_output
    - store_artifacts:
        path: /home/user/tests_output

  mysql-ssl:
    docker:
      - image: cossacklabs/android-build
      - image: mysql:5.7.25
        environment:
          MYSQL_DATABASE: test
          MYSQL_USER: test
          MYSQL_PASSWORD: test
          MYSQL_ROOT_PASSWORD: root
    environment:
      FILEPATH_ERROR_FLAG: /tmp/test_fail
      VERSIONS: 1.10.8 1.11.5 1.12
      TEST_MYSQL: true
      TEST_DB_PORT: 3306
      GOPATH_FOLDER: gopath
      TEST_RANDOM_DATA_FOLDER: /tmp/test_data
      TEST_TLS: "off"
    steps:
      # prepare
      - checkout
      - run: .circleci/prepare.sh
      - run: sudo apt-get install -y mysql-client
      - run: mysqladmin ping -h127.0.0.1
      # testing
      # generate test data for integration tests
      - run: python3 tests/generate_random_data.py
      # each iteration pass to test different ports for forks to avoid problems with TCP TIME WAIT between tests
      - run: .circleci/integration.sh
      - run: if [ -f  $FILEPATH_ERROR_FLAG ]; then cat "$FILEPATH_ERROR_FLAG"; rm "$FILEPATH_ERROR_FLAG"; exit 1; fi
      - store_test_results:
          path: /home/user/tests_output
      - store_artifacts:
          path: /home/user/tests_output

workflows:
  version: 2
  tests:
    jobs:
      - general_validation
      - postgresql
      - postgresql-ssl
      - mysql
      - mysql-ssl
      - mariadb
      - mariadb-ssl
