version: "3"

services:
    # Create keys:
    # - ./.acrakeys/acra-server/${ACRA_CLIENT_ID}_server
    # - ./.acrakeys/acra-connector/${ACRA_CLIENT_ID}_server.pub
    acra-keymaker_server:
        # You can specify docker image tag in the environment
        # variable ACRA_DOCKER_IMAGE_TAG or run by default with 'latest' images
        image: "cossacklabs/acra-keymaker:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        # We do not need network for keys' generation at all
        network_mode: "none"
        environment:
            # INSECURE!!! You MUST define your own ACRA_MASTER_KEY
            # The default is only for testing purposes
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        volumes:
            # Mount the whole ./.acrakeys directory to be able generate keys and
            # place them in services' subdirectories
            - ./.acrakeys:/keys
        # Please specify ACRA_CLIENT_ID environment variable, otherwise run with
        # default 'testclientid' client id
        command: >-
            --client_id=${ACRA_CLIENT_ID:-testclientid}
            --acraserver
            --output=/keys/acra-server
            --output_public=/keys/acra-connector
    # Create keys:
    # - ./.acrakeys/acra-connector/${ACRA_CLIENT_ID}
    # - ./.acrakeys/acra-server/${ACRA_CLIENT_ID}.pub
    acra-keymaker_connector:
        image: "cossacklabs/acra-keymaker:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        network_mode: "none"
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        volumes:
            - ./.acrakeys:/keys
        command: >-
            --client_id=${ACRA_CLIENT_ID:-testclientid}
            --acraproxy
            --output=/keys/acra-connector
            --output_public=/keys/acra-server
    # Create keys:
    # - ./.acrakeys/acra-server/${ACRA_CLIENT_ID}_storage
    # - ./.acrakeys/acra-writer/${ACRA_CLIENT_ID}_storage.pub
    acra-keymaker_writer:
        image: "cossacklabs/acra-keymaker:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        network_mode: "none"
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        volumes:
            - ./.acrakeys:/keys
        command: >-
            --client_id=${ACRA_CLIENT_ID:-testclientid}
            --storage
            --output=/keys/acra-server
            --output_public=/keys/acra-writer

    # Postgresql container
    postgresql:
        # Build and run container based on official postgresql image with
        # strict SSL mode
        build:
            context: ../
            dockerfile: docker/postgresql-ssl.dockerfile
        # INSECURE!!! You MUST define your own DB name and credentials
        environment:
            POSTGRES_DB: ${POSTGRES_DB:-test}
            POSTGRES_USER: ${POSTGRES_USER:-test}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-test}
        # Open the port outside for writer
        ports:
            - "5432:5432"
        # We use internal 'server-postgresql' network for AcraServer and
        # DB interconnection and external network 'world' for port exposing
        networks:
            - server-postgresql
            - world

    acra-server:
        image: "cossacklabs/acra-server:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        # Restart server after correct termination, for example after the config
        # was changed through the API
        restart: always
        depends_on:
            - acra-keymaker_server
            - acra-keymaker_connector
            - acra-keymaker_writer
            - postgresql
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        # We use internal networks:
        # - 'server-postgresql' - for AcraServer and DB interconnection
        # - 'connector-server' - for AcraServer and AcraConnector interconnection
        networks:
            - connector-server
            - server-postgresql
        volumes:
            # Mount the directory with only the keys for this service. Must be
            # rewriteable in case of using API, otherwise should be read-only.
            - ./.acrakeys/acra-server:/keys
            # Directory with configuration, rewriteable
            - ./.acraconfigs/acra-server:/config
            # Mount directories with SSL certificates
            - ./ssl/ca:/ssl.ca:ro
            - ./ssl/acra-server:/ssl.server:ro
        command: >-
            --db_host=postgresql
            --keys_dir=/keys
            --auth_keys=/keys/httpauth.accounts
            --enable_http_api
            --connection_api_string=tcp://0.0.0.0:9090
            --config=/config/acra-server.yaml
            --tls
            --tls_ca=/ssl.ca/example.cossacklabs.com.CA.crt
            --tls_cert=/ssl.server/acra-server.crt
            --tls_key=/ssl.server/acra-server.key
            --tls_sni=postgresql
            --no_encryption
            -v

    acra-connector:
        image: "cossacklabs/acra-connector:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        restart: always
        depends_on:
            - acra-keymaker_server
            - acra-keymaker_connector
            - acra-server
        # Open the port outside for client application
        ports:
            - "9494:9494"
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        # We use internal networks:
        # - 'connector-server' - for interconnection with AcraServer
        # and external network 'world' for port exposing
        networks:
            - connector-server
            - world
        volumes:
            # Mount the directory with only the keys for this service
            - ./.acrakeys/acra-connector:/keys:ro
            # Mount directories with SSL certificates
            - ./ssl/ca:/ssl.ca:ro
            - ./ssl/acra-connector:/ssl.proxy:ro
        command: >-
            --acra_host=acra-server
            --keys_dir=/keys
            --client_id=${ACRA_CLIENT_ID:-testclientid}
            --connection_string=tcp://0.0.0.0:9494
            --enable_http_api
            --connection_api_string=tcp://0.0.0.0:9191
            --tls
            --tls_ca=/ssl.ca/example.cossacklabs.com.CA.crt
            --tls_cert=/ssl.proxy/acra-connector.crt
            --tls_key=/ssl.proxy/acra-connector.key
            --tls_sni=acra-server
            --no_encryption
            -v

networks:
    world:
    connector-server:
        internal: true
    server-postgresql:
        internal: true
