version: "3"

services:
    # Create keys:
    # - ./.acrakeys/acra-server/${ACRA_CLIENT_ID}_server
    # - ./.acrakeys/acra-connector/${ACRA_CLIENT_ID}_server.pub
    acra-keymaker_server:
        # You can specify docker image tag in the environment
        # variable ACRA_DOCKER_IMAGE_TAG or run by default with 'latest' images
        image: "cossacklabs/acra-keymaker:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        # We do not need network for keys' generation at all
        network_mode: "none"
        environment:
            # INSECURE!!! You MUST define your own ACRA_MASTER_KEY
            # The default is only for testing purposes
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        volumes:
            # Mount the whole ./.acrakeys directory to be able generate keys and
            # place them in services' subdirectories
            - ./.acrakeys:/keys
        # Please specify ACRA_CLIENT_ID environment variable, otherwise run with
        # default 'testclientid' client id
        command: >-
            --client_id=${ACRA_CLIENT_ID:-testclientid}
            --acraserver
            --output=/keys/acra-server
            --output_public=/keys/acra-connector
    # Create keys:
    # - ./.acrakeys/acra-connector/${ACRA_CLIENT_ID}
    # - ./.acrakeys/acra-server/${ACRA_CLIENT_ID}.pub
    acra-keymaker_connector:
        image: "cossacklabs/acra-keymaker:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        network_mode: "none"
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        volumes:
            - ./.acrakeys:/keys
        command: >-
            --client_id=${ACRA_CLIENT_ID:-testclientid}
            --acraproxy
            --output=/keys/acra-connector
            --output_public=/keys/acra-server
    # Create keys:
    # - ./.acrakeys/acra-server/${ACRA_CLIENT_ID}_storage
    # - ./.acrakeys/acra-writer/${ACRA_CLIENT_ID}_storage.pub
    acra-keymaker_writer:
        image: "cossacklabs/acra-keymaker:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        network_mode: "none"
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        volumes:
            - ./.acrakeys:/keys
        command: >-
            --client_id=${ACRA_CLIENT_ID:-testclientid}
            --storage
            --output=/keys/acra-server
            --output_public=/keys/acra-writer

    # Create file with accounts for HTTP access and key for decrypt it
    # - ./.acrakeys/acra-server/httpauth.accounts
    # - ./.acrakeys/acra-server/auth_key
    acra-authmanager:
        image: "cossacklabs/acra-authmanager:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        network_mode: "none"
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        volumes:
            - ./.acrakeys:/keys
        command: >-
            --set
            --user=${ACRA_HTTPAUTH_USER:-test}
            --password=${ACRA_HTTPAUTH_PASSWORD:-test}
            --file=/keys/acra-server/httpauth.accounts
            --keys_dir=/keys/acra-server/

    # Postgresql container
    postgresql:
        image: postgres
        # INSECURE!!! You MUST define your own DB name and credentials
        environment:
            POSTGRES_DB: ${POSTGRES_DB:-test}
            POSTGRES_USER: ${POSTGRES_USER:-test}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-test}
        # Open the port outside for writer
        ports:
            - "5432:5432"
        # We use internal 'server-postgresql' network for AcraServer and
        # DB interconnection and external network 'world' for port exposing
        networks:
            - server-postgresql
            - world

    acra-server:
        image: "cossacklabs/acra-server:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        # Restart server after correct termination, for example after the config
        # was changed through the API
        restart: always
        depends_on:
            - acra-keymaker_server
            - acra-keymaker_connector
            - acra-keymaker_writer
            - acra-authmanager
            - postgresql
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        # We use internal networks:
        # - 'server-postgresql' - for AcraServer and DB interconnection
        # - 'connector-server' - for AcraServer and AcraConnector interconnection
        networks:
            - connector-server
            - server-postgresql
        volumes:
            # Mount the directory with only the keys for this service. Must be
            # rewriteable in case of using API, otherwise should be read-only.
            - ./.acrakeys/acra-server:/keys
            # Directory with configuration, rewriteable
            - ./.acraconfigs/acra-server:/config
        command: >-
            --zonemode
            --db_host=postgresql
            --keys_dir=/keys
            --auth_keys=/keys/httpauth.accounts
            --enable_http_api
            --connection_api_string=tcp://0.0.0.0:9090
            --config=/config/acra-server.yaml
            -v

    acra-connector:
        image: "cossacklabs/acra-connector:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        restart: always
        depends_on:
            - acra-keymaker_server
            - acra-keymaker_connector
            - acra-server
        # Open the port outside for client application and API
        ports:
            - "9191:9191"
            - "9494:9494"
        environment:
            ACRA_MASTER_KEY: ${ACRA_MASTER_KEY:-UHZ3VUNNeTJ0SEFhbWVjNkt4eDdVYkc2WnNpUTlYa0E=}
        # We use internal networks:
        # - 'connector-server' - for interconnection with AcraServer
        # - 'webconfig-connector' - for interconnection with AcraWebconfig
        # and external network 'world' for port exposing
        networks:
            - connector-server
            - webconfig-connector
            - world
        volumes:
            # Mount the directory with only the keys for this service
            - ./.acrakeys/acra-connector:/keys:ro
        command: >-
            --acra_host=acra-server
            --keys_dir=/keys
            --client_id=${ACRA_CLIENT_ID:-testclientid}
            --enable_http_api
            --connection_string=tcp://0.0.0.0:9494
            --connection_api_string=tcp://0.0.0.0:9191
            -v

    # Optional lightweight HTTP web server for managing AcraServer's
    # certain configuration options
    acra-webconfig:
        image: "cossacklabs/acra-webconfig:${ACRA_DOCKER_IMAGE_TAG:-latest}"
        restart: on-failure
        depends_on:
            - acra-connector
        # Open the port outside for client application
        ports:
            - "8000:8000"
        # We use internal 'webconfig-connector' network for AcraConnector and
        # AcraWebconfig interconnection and external network 'world' for
        # port exposing
        networks:
            - webconfig-connector
            - world
        command: >-
            --acra_host=acra-connector
            --host=0.0.0.0

networks:
    world:
    connector-server:
        internal: true
    server-postgresql:
        internal: true
    webconfig-connector:
        internal: true
