version: 0.85.0
# path to config
config_file: 

# dump config
dump_config: false

# Use filesystem key store (deprecated, ignored)
fs_keystore_enable: true

# Generate with yaml config markdown text file with descriptions of all args
generate_markdown_args_table: false

# Folder where will be saved generated zone keys
keys_output_dir: .acrakeys

